.button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 18.75rem;
    height: 3.313rem;
    padding: 1rem 5rem;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;

    background-color: #4263EB;
    transition: hover 0.3s;
}

.button:hover {
    background-color: #364FC7;
    cursor: pointer;
}

.link {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 150%;
    text-decoration: none;
}