:root {
    --bg-color: #EDF2FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}